{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block description %}Nouveau mot de passe{% endblock %}

{% block keyword %}Nouveau, mot de passe{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouveau mot de passe</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 mx-auto shadow p-4">
                {{ form_start(resetForm) }}
                <div class="mb-3">
                    <label for="">Nouveau mot de passe</label>
                    <div class="text-danger">{{ form_errors(resetForm.plainPassword.first) }}</div>
                    {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="">Confirmation du nouveau mot de passe</label>
                    <div class="text-danger">{{ form_errors(resetForm.plainPassword.second) }}</div>
                    {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <button formnovalidate class="btn btn-primary">Réinitialiser</button>
                </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>

   
{% endblock %}
