{% extends 'themes/base_admin.html.twig' %}

{% block title %} Modifier mon mot de passe {% endblock %}

{% block description %}  Modifier mon mot de passe{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5"> Modifier mon mot de passe </h1>

   {% include 'components/_alert.html.twig' %}
   
        <div class="container my-5">
            <div class="row">
                <div class="col-mb-8 col-lg-4 mx-auto">
                    {{form_start(form)}}
                            <div class="mb-3">
                                <label for="registration_form_first">Mot de passe actuel</label>
                                 <div class="text-danger">{{form_errors(form.currentPassword)}}</div>
                                {{form_widget(form.currentPassword, {'attr' : {'class':'form-control'}})}}
                            </div>
                            <div class="mb-3">
                                <label for="registration_form_second">Nouveau  mot de passe </label>
                                 <div class="text-danger">{{form_errors(form.password.first)}}</div>
                                {{form_widget(form.password.first, {'attr' : {'class':'form-control', 'placeholder' : 'Au moins 12 caractères'}})}}
                                <small><em> Le nouveau mot de passe doit contenir au moins une lettre majuscule, minuscule,  un chiffre et un caractère spécial.</em></small>
                            </div>
                            <div class="mb-3">
                                <label for="registration_form_second">Confirmation du nouveau mot de passe </label>
                                 <div class="text-danger">{{form_errors(form.password.second)}}</div>
                                {{form_widget(form.password.second, {'attr' : {'class':'form-control'}})}}
                            </div>
                            <div class="mb-3">
                                <input formnovalidate type="submit" class="btn btn-primary shadow w-100" value="Modifier mon mot de passe">
                            </div>
                    {{form_end(form)}}

                </div>
            </div>
        </div>
{% endblock %}