{% extends 'themes/base_admin.html.twig' %}

{% block title %} Modification des paramètres du site{% endblock %}

{% block description %} Modification des paramètres du site {% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5"> Modification des paramètres du site</h1>


   <div class="container my-5">
       <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto shadow">
               {% include 'components/_alert.html.twig' %}
                {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="">Nom: </label>
                        <div class="text-danger">{{ form_errors(form.websiteName) }}</div>
                        {{ form_widget(form.websiteName, {'attr' : {'class' : 'form-control' }}) }}
                    </div>
                    <div class="mb-3">
                        <label for="">Url: </label>
                        <div class="text-danger">{{ form_errors(form.websiteUrl) }}</div>
                        {{ form_widget(form.websiteUrl, {'attr' : {'class' : 'form-control' }}) }}
                    </div>
                    <div class="mb-3">
                        <label for="">Description: </label>
                        <div class="text-danger">{{ form_errors(form.description) }}</div>
                        {{ form_widget(form.description, {'attr' : {'class' : 'form-control' }}) }}
                    </div>
                    <div class="mb-3">
                        <label for="">Email: </label>
                        <div class="text-danger">{{ form_errors(form.email) }}</div>
                        {{ form_widget(form.email, {'attr' : {'class' : 'form-control' }}) }}
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="">Télephone: </label>
                            <div class="text-danger">{{ form_errors(form.phone) }}</div>
                            {{ form_widget(form.phone, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <div>
                         <div class="mb-3">
                            <label for="">La rue: </label>
                            <div class="text-danger">{{ form_errors(form.street) }}</div>
                            {{ form_widget(form.street, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <div>
                            <div class="mb-3">
                            <label for="">La ville: </label>
                            <div class="text-danger">{{ form_errors(form.city) }}</div>
                            {{ form_widget(form.city, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <div>
                            <div class="mb-3">
                            <label for="">Le code postal: </label>
                            <div class="text-danger">{{ form_errors(form.postalCode) }}</div>
                            {{ form_widget(form.postalCode, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <div class="mb-3">
                            <label for="">Pays: </label>
                            <div class="text-danger">{{ form_errors(form.state) }}</div>
                            {{ form_widget(form.state, {'attr' : {'class' : 'form-control' }}) }}
                        </div>
                        <div class="mb-3">
                            <input formnovalidate type="submit" class="btn btn-primary w-100" value="Modifier ">
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
   
   </div>
{% endblock %}