<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Encodage des caractères -->
    <meta charset="UTF-8">

    <!-- minimum de responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le titre de la page -->
    <title>{% block title %}{% endblock %} - Chaussure chic</title>

    {# SEO #}
    <meta name="robots" content="index, allow">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="chaussures-chic">
    <meta name="publisher" content="chaussures-chic">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Chargement de bootstrap et de ma feuille de style -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Chargement du js -->
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="et-visitor-body">
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('visitor_welcome_index')}}">chaussures chic<span class="text-primary"></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('visitor_welcome_index')}}">Accueil</a>
                    </li>
                    <li class="my-3 my-lg-0 mx-lg-3">
                        <!-- formulaire -->
                    </li>
                    <!-- panier -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('visitor_panier_index')}}"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
                 {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                            {{app.user.firstName}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="dropdown-item" href="{{path('admin_home_index')}}">Espace admin</a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{{path('user_home_index')}}">Espace client</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <a href="{{path('visitor_authentication_login')}}" class="btn btn-primary my-3 my-lg-0">Connexion</a>
                <a href="{{path('visitor_registration_register')}}" class="btn btn-light my-3 my-lg-0 mx-lg-2">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Contenu spécifique à chaque page -->
    <main>
        {% block main %}{% endblock %}
    </main>
    <!-- Le pied de page -->
    <footer class="text-center bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Informations légales</h4>
                    <p>Adresse: 123 Rue de Paris, Paris, France<br>Email : contact@chaussure-chic.com<br>Téléphone :+33 1 23 45 67 89<br>&copy; 2024 Votre Entreprise. Tous droits réservés.</p>
                </div>
                <div class="col-md-4">
                    <h4>Navigation</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{path('visitor_apropos_index')}}" class="text-decoration-none text-white">À propos de nous</a></li>
                        <li><a href="{{path('visitor_lesServices_index')}}" class="text-decoration-none text-white">Les services</a></li>
                        <li><a href="{{path('visitor_welcome_index')}}" class="text-decoration-none text-white">Page d'accueil</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Contactez-nous</h4>
                    <p><a href="{{path('visitor_contact_index')}}" class="text-decoration-none text-white">Formulaire de contact</a><br>Email : contact@chaussure-chic.com<br>Téléphone :+33 1 23 45 67 89</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
